body {
    background-color: #fff;
}

body.blink {
    background-color: #f00;
}

.numeros {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.numero {
    border: solid 1px black;
    border-radius: 10px;
    margin: 25px 10px;
    font-size: 10em;
    text-align: center;
    height: 1.5em;
    width: 1em;
    background-color: #fff;
}

.numero.solved {
    color: #666;
    background-color: #aaa;
}

.botoes {
    display: flex;
    justify-content: center;
}

.botao {
    border: none;
    border-radius: 10px;
    font-size: 5em;
    margin: 5px;
    text-align: center;
    height: 1.5em;
    width: 1em;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #555;
    box-shadow: 5px 5px #999;
}

.botao:hover,.botao:focus {
    background-color: #333;
}

.botao:active {
    background-color: #333;
    box-shadow: 3px 3px #666;
    transform: translateX(2px) translateY(2px);
  }
