<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>EBF de Adolescentes 2018 - Escape</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="stylesheet" type="text/css" href="css/materialize.min.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>

    <body>
        <div id="app" class="container">
            <div class="numeros">
                <div class="numero">{{ n1 }}</div>
                <div class="numero">{{ n2 }}</div>
            </div>

            <div class="botoes">
                <button class="botao" @click="btnClick('1')">1</button>
                <button class="botao" @click="btnClick('2')">2</button>
                <button class="botao" @click="btnClick('3')">3</button>
                <button class="botao" @click="btnClick('4')">4</button>
                <button class="botao" @click="btnClick('5')">5</button>
            </div>
            <div class="botoes">
                <button class="botao" @click="btnClick('6')">6</button>
                <button class="botao" @click="btnClick('7')">7</button>
                <button class="botao" @click="btnClick('8')">8</button>
                <button class="botao" @click="btnClick('9')">9</button>
                <button class="botao" @click="btnClick('0')">0</button>
            </div>
        </div>

        <script type="text/javascript" src="js/vue.min.js"></script>
        <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="js/jquery-ui.min.js"></script>
        <script type="text/javascript" src="js/escape.js"></script>
    </body>
</html>
