<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>EBF de Crianças 2018</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="stylesheet" type="text/css" href="css/materialize.min.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>

    <body>
        <div id="app" class="container">
            <h1 class="titulo">EBF 2018</h1>
            <h2 class="subtitulo">1<sup>o</sup> Dia</h2>

            <div class="row">
                <div class="col s4 elemento" v-for="(parte, index) in partes">
                    <a v-bind:id="thId(index)" href="#!" class="btn btn-large scale-transition botao white blue-text text-darken-4 scale-in" v-bind:nextbtn="tvId(index)" @click="btnclick">
                        <img v-bind:src="parte.img">
                    </a>
                    <a v-bind:id="tvId(index)" href="#!" class="btn btn-large scale-transition botao white blue-text text-darken-4 scale-out" v-bind:nextbtn="thId(index)" @click="btnclick">
                        {{ parte.texto }}
                    </a>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="js/vue.min.js"></script>
        <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="js/dia1.js"></script>
    </body>
</html>
