<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>EBF de Crianças 2018</title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="stylesheet" type="text/css" href="css/materialize.min.css">
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>

    <body>
        <div id="app" class="container">
            <h1 class="titulo">EBF 2018</h1>
            <h2 class="subtitulo">3<sup>o</sup> Dia</h2>

            <ul class="sortable" v-for="palavra in palavras">
                <li class="ui-state-default" v-for="letra in palavra">
                    {{ letra }}
                </li>
            </ul>

            <div class="clear"></div>

            <div class="endereco">
                <p>Marcos 16.15</p>
            </div>

            <a id="solve" href="#!" class="btn btn-large white grey-text">&#10003;</a>
        </div>

        <script type="text/javascript" src="js/vue.min.js"></script>
        <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="js/jquery-ui.min.js"></script>
        <script type="text/javascript" src="js/dia3.js"></script>
    </body>
</html>
