.titulo {
    margin-bottom: 0;
}

.subtitulo {
    margin-top: 0;
    color: #999
}

.botao {
    position: absolute;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    line-height: 1.5em;
}

.botao > img {
    max-width: 90%;
    max-height: 90%;
}

.elemento {
    position: relative;
    height: 200px;
}

.canvas-parent {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sortable {
    list-style-type: none;
    margin: 0 0 0 50px;
    padding: 0;
    float: left;
}

.sortable li {
    margin: 0;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #bbb;
    border-radius: 5px;
    width: 50px;
    font-size: 4em;
    text-align: center;
    cursor: pointer;
}

.endereco {
    font-size: 4em;
    float: right;
}

.clear {
    clear: both;
}

#solve {
    position: fixed;
    right: 50px;
    bottom: 50px;
}
