body {
    background-color: #282828;
    color: #555555;
}

.clickable {
    cursor: pointer;
}

#tranca {
    position: absolute;
    width: 200px;
    height: 200px;
    left: 50%;
    margin-top: 100px;
    margin-left: -50px;
    background-color: #888888;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    z-index: -1;
}

.tranca-aberta {
    -ms-transform: rotate(45deg); /* IE 9 */
    -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
}

.cadeado-aberto {
    -ms-transform: rotateY(180deg); /* IE 9 */
    -webkit-transform: rotateY(180deg); /* Safari */
    transform: rotateY(180deg);
}

#conteudo {
    height: 380px;
    width: 180px;
    border-radius: 10px;
    background-color: #222222;
    margin-left: -90px;
    margin-top: -190px;
    top: 50%;
    left: 50%;
    position: relative;
    display:flex;
    align-items: center;
    justify-content: center;
}
#conteudo>p {
    margin: 5px;
}

#abrir {
    position: absolute;
    left: 50%;
    margin-top: 405px;
    margin-left: -150px;
    background-color: #111111;
    width: 200px;
    height: 50px;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

#tranca-dentro {
    width: 170px;
    height: 140px;
    margin-top: 30px;
    background-color: #282828;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    position: absolute;
}

#tranca-metade {
    margin-top: -10px;
    margin-left: -10px;
    width: 110px;
    height: 320px;
    background-color: #282828;
    top: 0;
    position: absolute;
}

#cadeado-frente {
    background-color: #444444;
    -webkit-transform-origin: top left; /* Safari */
            transform-origin: -2px 0px;
}

#cadeado-tras {
    background-color: #333333;
}

.transformable {
    -webkit-transition: transform 1s; 
       -moz-transition: transform 1s; 
         -o-transition: transform 1s; 
            transition: transform 1s;
}

.cadeado {
    position: absolute;
    left: 50%;
    width: 200px;
    height: 400px;
    margin-left: -150px;
    border-radius: 10px;
    overflow: auto;
}

.carousel {
    background-color: #333333;
    border-radius: 10px;
    height: 30%;
    width: 90%;
    margin: 5% 0 0 5%;
}

.vertical .carousel-inner {
    height: 100%;
}

.carousel.vertical .item {
    top: 50%;
    margin-top: -20%;
    height: 40%;
    width: 100%;
}